<header class="nav">
  <div class="container">
    <div class="nav-title">
      <h3>{{#link-to 'application'}}SKYDEA{{/link-to}}</h3>
    </div>
    <nav>
      <ul class="nav-main">
        {{#if session.isAuthenticated}}
          <li>Whattup {{session.currentUser.displayName}}!</li>
          <li class="nav-button" {{action "signOut"}}> Sign out</li>
        {{else}}
        <li class="nav-button"><div {{action "signIn" "twitter"}}>Sign in with Twitter</div></li>
        {{/if}}
      </ul>
    </nav>
  </div>
</header>

<main>
  <div class="container">
    {{outlet}}
  </div>
</main>

<footer>
  <div class="container">
    <p><a href="http://randytolentino.com">© Randy Tolentino</a></p>
  </div>
</footer>